*{
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(53, 53, 53);
    color: white;
    width: 1440px;
}

header img{    
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
}

.buscador{
    padding: 10px;
}

.formularioNavegador ul{
    display: flex;
    justify-content: space-around;
    padding: 0px;
    list-style: none;
}


.formularioNavegador li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.contenedorPadre{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    padding: 20px;
    margin: 0 auto;
    
}

.contenedor{
    width: 300px;
    background-color: #191818;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    
}

.contenedor a{
    background-color: grey;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    margin-top: 50px;
    text-decoration: none;
}

.contenedor h3{
    padding-bottom: 8px;
}

.contenedorPadre img{
    width: 200px;
    border-radius: 4px;
    margin-top: 5px;
}

h3 {
    font-size: 14px;
    color: grey;
    margin-bottom: 10px;
}


h1{
    display: flex;
    justify-content: center;
    background-color: #191818;
    padding: 5px;
    border-radius: 4px;
    font-weight: 100;
}

.detallePelicula{
    max-height: 20vw;
    max-width: 20vw;
    align-content: center; 
    /* NO FUNCIONA EL CENTRALIZADO */
}

.detalleSerie{
    max-height: 20vw;
    max-width: 20vw;
    align-content: center;
    /* NO FUNCIONA EL CENTRALIZADO */
}


footer{
    color:rgb(43, 166, 177);
}